/* App.css */

.app {
  display: flex;
  height: 100vh; /* Adjust height as needed */
}

.sidebar {
  width: 200px; /* Default width for larger screens */
  background-color: #2e62f0; /* Sidebar background color */
  padding: 20px; /* Padding inside sidebar */

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    width: 100px; /* Adjust width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.sidebar ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px; 
  height: 40px;/* Spacing between list items */
}
.sidebar  li:hover{
  background-color: aqua;
 }

.sidebar li a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Link text color */
}

.sidebar li a:hover {
  color: #000; /* Link text color on hover */
  font-weight: bold; /* Bold font weight on hover */
  
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
